body{
    background-image: linear-gradient(to right, #fbb1db, #eeb2e5, #deb4ed, #ccb6f3, #b8b9f7, #a5c0fd, #91c8ff, #7eceff, #69daff, #58e6ff, #53f1fc, #5ffbf1);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
ul li a{
  font-weight: bolder; 
 text-decoration: none;
 color: black;
}
.navbar li{
  float:left;
  list-style: none; 
  margin: 13px 20px;
  
}
.clearfix{
  float: right;
  padding: 12px 75px;
}
.navbar input{
  border: 2px solid black;
  border-radius: 14px;
  padding: 3px 17px;
  width: 129px;
}
li:hover{
    box-shadow: 5px 5px 5px 5px ;
}
button:hover {
    box-shadow: 5px 5px 5px 5px ;
    cursor: pointer;
  }
button{
    font-weight: bolder;
    border: none;
    padding: 14px 20px;
    background-color: transparent;
  }
